.hero {
  background-color: var(--primary1);
  height: 300px;
}

.hero-info {
  grid-area: 1 / 3 / 2 / 7;
  margin-top: 30px;
}

.hero-info-title {
  color: var(--primary2);
  font-size: 56px;
  font-weight: 500;
  font-family: var(--font1);
  line-height: 0.8;
}

.hero-info-subtitle {
  color: var(--white);
  font-size: 32px;
  font-weight: 400;
  font-family: var(--font1);
  line-height: 0.8;
}

.hero-info-text {
  margin: 10px 0;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font2);
}

.hero-image {
  grid-area: 1 / 8 / 2 / 11;
  margin-top: 30px;
}

.hero-image .image {
  height: 340px;
  width: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}
